<h2>Login</h2>
<form id="login-form">
  <label for="login-email">email:</label>
  <input type="text" id="login-email" />
  <label for="login-password"> password:</label>
  <input type="password" id="login-password" />
  <button>Login</button>
</form>
<hr />
<h2>Signup</h2>
<form action="">
  <label for="signup-name">name:</label>
  <input type="text" id="signup-name" />
  <label for="signup-email">email:</label>
  <input type="text" id="signup-email" />
  <label for="signup-password"> password:</label>
  <input type="password" id="signup-password" />
  <button>Signup</button>
</form>
<hr />

<script src="/js/login.js"></script>